.hdr {
    background-color: #0a61f7;
    color: #fff;
}

a {
    color: #000 !important;
}

.card-wrapper {
    height: 350px;
    width: 300px;
    perspective: 1000px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
    border-radius: 5px;
}

.card-wrapper:hover .content {
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
    border-radius: 5%;
}

.face-back {
    transform: rotateY(180deg);
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}