@{
    ViewData["Title"] = "Kennisbank";

    List<Knowledgebase> knowledgebases = (List<Knowledgebase>) ViewData["Knowledgebases"];
    User user = (User) ViewData["User"];
}

<div class="container">
    <div class="w-100">
        <h1 class="mt-2 float-left w-75">Kennis bank </h1>
        <a class="float-right mt-4" asp-action="Create" asp-controller="Knowledgebase">Create a Question</a>
    </div> <br /> <br />
    <div class="mt-1">
    @foreach (Knowledgebase knowledgebase in knowledgebases)
    {
        <hr />
        <div class="w-100">
            <p class="w-100">
                @knowledgebase.Title
                <a asp-action="Show" asp-controller="Knowledgebase" asp-route-id="@knowledgebase.Id" class="float-right">Read more</a>
            </p>
        </div>
    }
    </div>
</div>
