@section Styles
{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="~/css/articles.css" />
}

<div class="container-fluid" style="background-color: #0a61f7">
    <div class="row p-3 align-items-center">
        <div class="col-3 offset-2">
            <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" style="width:200px;height:200px;" />
        </div>
        <div class="col-7">
            <form action="#" class="search">
                <h2 style="color:#fff;padding-right:10px;">articles</h2>
                <input type="text" placeholder="Search..." class="search__input" autofocus required />
                <button type="submit" class="search__button"><i class="fa fa-search search__icon"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-6 artcontainer" style="margin-top:15px;">
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
    <div class="row p-1 align-items-center">
        <div class="col-9">
            <h4>Article Title</h4>
            <p>Here will come a small description of the article</p>
        </div>
        <div class="col-3">
            <a href="#"><p>Read more</p></a>
        </div>
    </div>
    <div class="row"><div class="col"><hr /></div></div>
</div>

