@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
}
<div class="hdr p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5">
                <h4>CeeLearnAndDo, The .NET consultancy that gives you the expertise you need.</h4>
            </div>
            <div class="col-6 offset-1">
                <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" style="width:500px;height:400px;"/>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h5>The following consultants are ready to answer your questions.</h5><br />
    <div class="row">
        <div class="col-3 m-4 offset-1">
            <div class="card-wrapper">
                <div class="content">

                    <div class="face-front z-depth-2">
                        <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" class="rounded-circle m-2" style="width:150px;height:150px;" />

                        <div class="card-body">
                            <h4 class="font-weight-bold">PlaceHolderName</h4>
                            <hr />
                            <p class="font-weight-bold" style="color:#0a61f7;">Consultant</p>
                        </div>
                    </div>

                    <div class="face-back z-depth-2">
                        <div class="card-body">
                            <h4 class="font-weight-bold">About me</h4>
                            <hr />
                            <p>Here will come some information about this specific person and what they do in the CeeLearnAndDo company.</p>
                            <hr />
                            <br />
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="p-2 fa-lg fh-ic"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg tg-ic"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 font-weight-bold">profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 m-4 offset-1">
            <div class="card-wrapper">
                <div class="content">

                    <div class="face-front z-depth-2">
                        <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" class="rounded-circle m-2" style="width:150px;height:150px;" />

                        <div class="card-body">
                            <h4 class="font-weight-bold">PlaceHolderName</h4>
                            <hr />
                            <p class="font-weight-bold" style="color:#0a61f7;">Consultant</p>
                        </div>
                    </div>

                    <div class="face-back z-depth-2">
                        <div class="card-body">
                            <h4 class="font-weight-bold">About me</h4>
                            <hr />
                            <p>Here will come some information about this specific person and what they do in the CeeLearnAndDo company.</p>
                            <hr />
                            <br />
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="p-2 fa-lg fh-ic"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg tg-ic"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 font-weight-bold">profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 m-4 offset-1">
            <div class="card-wrapper">
                <div class="content">

                    <div class="face-front z-depth-2">
                        <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" class="rounded-circle m-2" style="width:150px;height:150px;" />

                        <div class="card-body">
                            <h4 class="font-weight-bold">PlaceHolderName</h4>
                            <hr />
                            <p class="font-weight-bold" style="color:#0a61f7;">Consultant</p>
                        </div>
                    </div>

                    <div class="face-back z-depth-2">
                        <div class="card-body">
                            <h4 class="font-weight-bold">About me</h4>
                            <hr />
                            <p>Here will come some information about this specific person and what they do in the CeeLearnAndDo company.</p>
                            <hr />
                            <br />
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="p-2 fa-lg fh-ic"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg tg-ic"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
                                <li class="list-inline-item"><a class="p-2 font-weight-bold">profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <a href="#"><h5 style="text-decoration:underline">Click here to see more consultants.</h5></a>
            <br />
            <hr />
        </div>
    </div>
    <div class="row p-3 align-items-center offset-1">
        <div class="col-5">
            <h5>If you're interested in our work</h5>
            <h5 style="text-decoration:underline"><a href="#">Read one of our articles.</a></h5>
        </div>
        <div class="col-6 offset-1">
            <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" style="width:400px;height:300px;" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row p-3 align-items-center">
        <div class="col-5 offset-1">
            <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" style="width:400px;height:300px;" />
        </div>
        <div class="col-5 offset-1">
            <h5>Do you have a question about CeeLearnAndDo?</h5>
            <h5 style="text-decoration:underline"><a href="#">Drop us a question.</a></h5>
        </div>
    </div>
</div>
